<!DOCTYPE html>
<html>
   <head>
      <title>My Weather Prediction App</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   </head>
   <body>
      <h1>Predict Temperature</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.apparent_temperature.label }}<br>
            {{ form.apparent_temperature }}
            {% for error in form.apparent_temperature.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.humidity.label }}<br>
            {{ form.humidity }}
            {% for error in form.humidity.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
            {{ form.visibility.label }}<br>
            {{ form.visibility }}
            {% for error in form.visibility.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit() }}</p>
	</form>
    {% if prediction %}
        <p>Predicted temperature is {{ prediction }}</p>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   </body>
</html>